td {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    font-size: 5px;
}

td.wall {
    background: rgb(236, 236, 236);
}

td.cursor {
    background: rgb(255, 179, 179);
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}
#sub {
    overflow: auto scroll;
    height: 500px;
    width: 300px;
}